<div class="container" *ngIf="questionData">
    <div class="row border-bottom border-dark pb-3">
        <div class="col-2 fs-4  d-flex  justify-content-center align-items-center cursor"  [ngClass]="questionNumber == 1 ? 'invisible':''" (click)="addNewItem(questionNumber - 1)" (click)="nextQuestionOptionVal(questionNumber - 1)">
            <i class="fas fa fa-caret-left"></i> &nbsp; Question {{questionNumber - 1}}
        </div>
        <!-- [ngClass]="questionNumber == 15     ? 'invisible':''" -->
        <div class="col-2 fs-4 offset-8 d-flex justify-content-center align-items-center cursor"         [ngClass]="questionNumber == 15     ? 'invisible':''"   (click)="nextQuestionOptionVal(questionNumber+1)"     (click)="addNewItem(questionNumber + 1)" >
            <span> Question {{questionNumber + 1}} &nbsp;<i class="fas fa fa-caret-right"></i></span>

        </div>
    </div>
    
    <div class="row d-flex justify-content-center my-3 ">
            <div class="col-8 text-center fs-3">
                <span class="">Question {{questionNumber}} : {{ questionData[questionNumber]?.question | titlecase}}</span>
            </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-8 m-2">
            <input type="radio" class="btn-check btn-block" name="options-outlined" id="danger-outlined1" [checked]='option ==1' (change)="optionChanged(questionNumber,1)">
            <label class="btn btn-outline-danger rounded-pill p-2 btn-block d-flex fs-5 shadow" for="danger-outlined1">
                <span class="border rounded-circle p-1 px-3" [ngClass]="option == 1 ? 'border-light':'border-danger'">A</span>
                <span class="fs-4 mx-3">{{ questionData[questionNumber]?.option1 }}</span>
            </label>
        </div>
        <div class="col-8 m-2">
            <input type="radio" class="btn-check btn-block" name="options-outlined" id="danger-outlined2" [checked]='option ==2' (change)="optionChanged(questionNumber,2)">
            <label class="btn btn-outline-danger rounded-pill p-2 btn-block d-flex fs-5 shadow" for="danger-outlined2">
                <span class="border  rounded-circle p-1 px-3" [ngClass]="option == 2 ? 'border-light':'border-danger'">B</span>
                <span class="fs-4 mx-3">{{ questionData[questionNumber]?.option2 }}</span>
            </label>
        </div>
        <div class="col-8 m-2">
            <input type="radio" class="btn-check btn-block" name="options-outlined" id="danger-outlined3" [checked]='option ==3' (change)="optionChanged(questionNumber,3)">
            <label class="btn btn-outline-danger rounded-pill p-2 btn-block d-flex fs-5 shadow" for="danger-outlined3">
                <span class="border rounded-circle p-1 px-3" [ngClass]="option == 3 ? 'border-light':'border-danger'">C</span>
                <span class="fs-4 mx-3">{{ questionData[questionNumber]?.option3 }}</span>
            </label>
        </div>
        <div class="col-8 m-2">
            <input type="radio" class="btn-check btn-block" name="options-outlined" id="danger-outlined4" [checked]='option ==4' (change)="optionChanged(questionNumber,4)">
            <label class="btn btn-outline-danger rounded-pill p-2 btn-block d-flex fs-5 shadow" for="danger-outlined4">
                <span class="border rounded-circle p-1 px-3" [ngClass]="option == 4 ? 'border-light':'border-danger'">D</span>
                <span class="fs-4 mx-3">{{ questionData[questionNumber]?.option4 }}</span>
            </label>
        </div>




    </div>
    <!-- *ngIf="questionNumber == 15" -->
    <div class="row mt-4" [ngClass]="questionNumber != 15     ? 'invisible':''" >
        <div class="col-2 offset-10">
            <span class="btn btn-outline-light btn-dark btn-lg " id="submitButton" (click)="submit()"> Submit Quiz</span>

        </div>
    </div>
</div>